@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Josefin+Sans:wght@300;400;500;600;700&display=swap');
*{ 
    margin: 0; 
    padding: 0px;
    font-family: 'Josefin sans', sans-serif;
    line-height: 1.7; /* All texts line length of 1.7 */
}


body{
    background-color: #E9E9E9;
    justify-content: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.header{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Dela Gothic One', Arial;
}

.logo {
    padding: 24px; /* Header logo standard spacing of 24px */
    width: 100px; /* Header logo width of 100px on desktop */
}

#wrapper{ 
    display: flex;
    flex-direction: column;
    max-width: 1024px;  /*  Constarined max width of the container to 1024px  */
    margin-left: auto;
    margin-right: auto;
}

.container{
    margin: 0;
    padding: 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    background-color: white;
} 

.heading1{ 
    font-family: 'Franklin Gothic', sans-serif;
    color: black;
    padding: 24px;
}


h1{
    font-family: 'Dela Gothic One', Arial;
    font-size: 80px; /* On larger screens the heading size should be 4 times the font size */
    padding: 24px;  /*  horizontal margin should be the standard spacing (24px).  */

}


.main-text{
    color: black;
    font-family: "Josefin Sans", sans-serif;
    column-count: 2;
    column-gap: 48px;
    padding: 24px;
    margin: 20px; /* Paragraphs and headings should have a vertical margin equal to font size of the page */
} 


.pics{ 
    overflow: hidden;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
}

.albums{ 
    width: 100%;
    max-width: 341px;
    height: auto;
    margin: 0;
    border: 0;
    padding: 0;
    object-fit: cover;
}

footer{
    max-width: 1024px;
    text-align: center;
    padding: 24px; /* Footer standard spacing of 24px */
    margin-top: auto;
    background-color: #262626;
    color: #fff;
}

/* Media Queries for Different Screen Sizes */

/* Media query for small mobile  */
@media (min-width: 360px) {
    .logo {
        width: 40px; /* Header logo width of 40px on small mobile */
    }

    h1{ 
        font-size: 48px; /* On mobiles the font size of heading should be three times the font size of page (16x3) */
    }
}

/* Media query for large mobile  */
@media (min-width: 540px) {
    .logo {
        width: 60px; /* Header logo width of 60px on large mobile */
        padding: 12px; /* Header logo standard spacing of 12px */
    }

    h1{ 
        font-size: 72px; /* On mobiles the font size of heading should be three times the font size of page (16x3) */
        text-align: center;
    }
}

/* Media query for tablet  */
@media (min-width: 720px) {
    h1{ 
        text-align: center;
        font-size: 72px;
    }
    
    .logo {
        width: 80px; /* Header logo width of 80px on tablet */
        padding: 12px; /* Header logo standard spacing of 12px */
    }

}


